

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: -70px;
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: -60px;
  }
}

#hero:before {
  content: "";
  background: rgb(159 49 41 / 25%) linear-gradient(rgb(228 166 76 / 50%) 0%, rgb(2 89 54 / 20%) 80%) repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

#hero .btn-get-started:hover {
  background: #ff7f5d!important;
  border: 2px solid #ff7f5d;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}



/*--------------------------------------------------------------
# Hero setengah Section
--------------------------------------------------------------*/
#setengah {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-bottom: -70px;
}

@media (max-width: 992px) {
  #setengah {
    margin-bottom: -60px;
  }
}

#setengah:before {
  content: "";
  background: rgb(159 49 41 / 25%) linear-gradient(rgb(228 166 76 / 50%) 0%, rgb(2 89 54 / 20%) 80%) repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#setengah .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#setengah h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#setengah h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#setengah .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}

#setengah .btn-get-started:hover {
  background: #ff7f5d;
  border: 2px solid #ff7f5d;
}

@media (min-width: 1024px) {
  #setengah {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #setengah h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #setengah h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

