
/*--------------------------------------------------------------
# Our Values
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100%;

  position: relative;
  z-index: 2;
  border: 6px solid #fff;
  display: block !important;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #ffbbaa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.logojurusan{
  width: 20%;
  height: 60px;
  border-right: 6px solid #111;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 10px 20px;
  background: rgb(255, 254, 255);
  position: relative;
  
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: 20px;
}

.testimonials .testimonial-item span {
  font-weight: 900;
  border-radius: 50%;
  border-left: 0.5px #111 solid;
  border-right: 0.5px #111 solid;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff7f5d;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff7f5d;
}
