
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgb(128, 0, 0);
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background: rgba(2, 0, 2, 0.6); */
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff7f5d;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ff9377;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ff7f5d;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #ffffff;
  z-index: 2;
  position: relative;
  padding-top: 10px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }

  #footer .credits {
    padding-top: 5px;
  }
}

#footer .alamat h1{
  font-size: 30px;
  text-align: left;
}

#footer .alamat p{
  text-align: left;
}

#footer .akre{
  padding-left: 10px;
  border-left: rgb(255, 252, 252) 10px solid;
}

#footer .akre span{
  font-weight: bold;
}


#footer .akre h1{
  font-size: 30px;
  text-align: left;
}

#footer .akre p{
  text-align: left;
}


.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-bottom{
  animation: fadeInbottom 2s;
}


@keyframes fadeInbottom {
  0% {  opacity: 0; -webkit-transform: translateY(-100px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

.fade-kanan{
  animation: fadeInkanan 2s;
}


@keyframes fadeInkanan {
  0% {  opacity: 0; -webkit-transform: translateX(-500px); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

.fade-kiri{
  animation: fadeInkiri 2s;
}


@keyframes fadeInkiri {
  0% {  opacity: 0; -webkit-transform: translateX(500px); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

/* SPMI */
.spmi table{
  font-size: 20px;
}